*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: darkgoldenrod;
}
.central{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.central h1{
    font-size: 3rem;
    color: #fff;
}