*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: deepskyblue;
}
.box{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.box h2{
    color: #000;
    font-size: 2rem;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 40%;
    height: 40px;
    margin: 20px 20px;
    box-shadow: 0px 0px 10px 0px skyblue;
    border: none;
}
#btn{
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: skyblue;
    color: #fff;
    font-size: 1.5rem;
}
p{
    padding: 10px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#message{
    color: skyblue
}